/* sign up and login page design */
.signup-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.signup-form input {
  margin-top: 25px;
  border: 1px solid green;
}
.inputBox1 > input {
  width: 200px;
  height: 30px;
}

.input-box2 > input {
  width: 405px;
  height: 30px;
}
.input-box3 > input {
  width: 150px;
  height: 35px;
}
.input-box3 > input:hover {
  background-color: aliceblue;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* sign up and login page design ends */

/* post card styles start*/
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.cs2 {
  width: 60%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  text-align: justify;
  background-color: rgb(249, 243, 243);
}
/* post card styles end*/

/* blogs style starts */
.posts {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.scroll-posts {
  overflow-y: scroll;
}
.scroll-posts::-webkit-scrollbar {
  display: none;
}
.blog-container{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.blog-container > p{
  text-align: justify;
}


/* blogs style ends */

/* user profile styling */
.user-profile {
  width: 100%;
  height: 80vh;
}
.profile-header {
  width: 100%;
  display: flex;
  padding-left: 10%;
  padding-top: 20px;
  line-height: 2px;
  background-color: rgb(245, 243, 239);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.profile-header > img {
  width: 100px;
  height: 85px;
  border-radius: 100%;
}
.profile-header > a {
  margin-top: auto;
  margin-left: auto;
  font-size: 1.2rem;
  padding: 2%;
}
.header-info {
  margin-left: 30px;
  text-align: center;
}
.my-blog-text {
  overflow: hidden;
  font-size: 0.7rem;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.cs3{

  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  text-align: justify;
  background-color: rgb(249, 243, 243);

}


/*profile styling ends */

/* about us */

.box-style{

  /*background-color: rgba(245, 245, 245, 0.459);*/
  height: 70%;
  width: 100%;
  margin-top: 50px;
  
}
.br{
  border-radius: 8px;
}
.fun .img{
  height: 250px;
  width: 50px;
}

.bc{
  background-color: #273746;
  color: white;
}
.eg{
  background-color: #EEEEEE;
  height: 70%;
  width: 100%;
  margin-top: 50px;
  padding: 20px;
  
}
.mg{
  margin-left: 200px;
}
.mt{
  margin-top: 50px;
}

/* about us */